name = "ArmaForces MAI"
prefix = "MAI"
author = "Madin"
files = [
    "LICENSE",
    "mod.cpp",
    "README.md"
]

exclude = ["*.psd", "*.png", "*.tga"]

modname = "MAI"
keyname = "MAI{{version}}"
signame = "MAI{{version}}"

releasebuild = [
    "!Set_version",
    "@zip",
    "!publish"
]

# HEMTT >= 0.7 (unreleased)
#[header_exts]
#version = "{{git \"id 8\"}}"
headerexts = [
    "version={{git \"id 8\"}}"
]

[scripts.Set_version]
    steps_windows = [
        "powershell ./tools/Set-Version.ps1 {{version}} '@armaforces_mission_framework'"
    ]
    # show_output = true

[scripts.publish]
    steps_windows = [
        "powershell ./tools/Publish.ps1 {{version}} 1934142795 '@armaforces_mission_framework'"
    ]
    show_output = true
